ion-content{
  --background: linear-gradient(to bottom, #101E2A, #163045, #163045);
}
h3{
  text-align: center;
  margin-top: 15px;
}
p{
  text-align: center;
}
.tipo{
  text-align: start;
  color: yellow;
}
.search-white {
  --background: white;
  --color: black;
  --placeholder-color: gray;
}
ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%; /* Asegura que la tarjeta ocupe todo el espacio disponible */
  max-width: 100%;
}

/* Hacer que las imágenes tengan un tamaño consistente y no se deformen */
.hospital-img {
  width: 100%; /* La imagen ocupa el 100% del ancho de la tarjeta */
  height: 200px; /* Definir una altura fija para todas las imágenes */
  object-fit: cover; /* Asegura que la imagen no se deforme */
}

