
img{
  width: auto;
  height: 80px;
}

@media (min-width: 992px) {
  .navbar-nav .nav-link:hover {
    color: black !important;
    background-color: white !important;
    border-radius: 5px;
  }
}

.navbar-collapse.show .nav-link {
  color: white;
  background-color: transparent;
}

.navbar-nav .nav-link {
  color: white;
  background-color: transparent;
  transition: all 0.3s ease-in-out;
}

.navbar-collapse.show .nav-link:active,
.navbar-collapse.show .nav-link:hover {
  color: black !important;
  background-color: white !important;
  border-radius: 5px;
}



