<ion-header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">
        <img src="../../../assets/logo (1).png" alt="">
      </a>
      <button data-bs-auto-close="true" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent" data-bs-auto-close="true">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="hos-cards">Hospitales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="far-cards">Farmacias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="sobre-nosotros">Sobre nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mapa">Mapa de Hospitales</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="mapa-far">Mapa de Farmacias</a>
          </li>


        <!-- Botón de emergencia (oculto para hospitales, farmacias y admin) -->
  <li class="nav-item" *ngIf="isEmergencyButtonVisible()">
    <a class="nav-link btn-emergency" href="tel:9511253566">🚨 Emergencia</a>
  </li>
          <ng-container *ngIf="role === 'hospital'">
            <li class="nav-item">
              <a class="nav-link" href="hos-form">Publicar noticia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="hos-publicacion">Mis publicaciones</a>
            </li>
          </ng-container>
          <ng-container *ngIf="role === 'farmacia'">
            <li class="nav-item">
              <a class="nav-link" href="far-form">Publicar noticia</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="far-publicacion">Mis publicaciones</a>
            </li>
          </ng-container>
          <ng-container *ngIf="role === 'admin'">


            <li class="nav-item">
              <a class="nav-link" href="admin-register">Agregar administrador</a>
            </li>
          </ng-container>
          <li class="nav-item" *ngIf="!isAuthenticated">
            <a class="nav-link" href="login">Login</a>
          </li>
          <li class="nav-item" *ngIf="isAuthenticated">
            <a class="nav-link" href="mi-perfil">Perfil</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <br>
<!--  <div>

    <ion-searchbar class="search-white" debounce="350" placeholder="Buscar por especialidad..."
      [(ngModel)]="searchTerm" (ionInput)="buscar()"></ion-searchbar>
  </div>-->
</ion-header>
