:host {
  --background: linear-gradient(to bottom, #101E2A, #163045, #163045);
}

.grid-center{
height: 100%;
margin-top: 10px;
}

.custom-content {
  background-color: #0a1f35 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  text-align: start;
  background: linear-gradient(to bottom, #101E2A, #163045, #163045);
  padding: 20px;
}



ion-label {
  color: white;
  margin-bottom: 10px;
}

ion-input {
  background-color: #073A6A;
  color: white;
  border-radius: 5px;
}

.login-button {
  --background: linear-gradient(to right, #0D161F 57%, #1C3F60 100%);
  --border-radius: 10px;
  --color: white;
  --box-shadow: none;
  width: 100%;
  font-weight: bold;
}

.register-text a {
  color: #f1f3f5;
  font-weight: bold;
  text-decoration: none;
}

ion-content {
 // --overflow: hidden;
}
ion-input {
  --padding-end: 20px;  /* Ajusta el valor para crear el espaciado deseado */
}


/* far-form.page.scss */

/* far-form.page.scss */

.custom-alert {
  text-align: center;
}

.custom-alert .alert-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-alert .alert-head {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-alert .alert-head::before {
  content: "";
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  margin-bottom: 10px;
}

.custom-alert.success .alert-head::before {
  background-image: url('https://cdn-icons-png.flaticon.com/512/845/845646.png'); /* ✅ Icono verde */
}

.custom-alert.danger .alert-head::before {
  background-image: url('https://cdn-icons-png.flaticon.com/512/845/845646.png'); /* ❌ Icono rojo */
}
