<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Publicar Noticia</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Publicar Noticia</h3>

          <form (submit)="publicar(); $event.preventDefault();">
            <!-- Título -->
            <ion-label>Título</ion-label> <br>
            <ion-input type="text" [(ngModel)]="titulo" name="titulo" placeholder="Ingrese el título de la noticia" required></ion-input> <br>

            <!-- Descripción -->
            <ion-label>Descripción</ion-label> <br>
            <ion-input type="text" [(ngModel)]="descripcion" name="descripcion" placeholder="Breve descripción" required></ion-input> <br>

            <!-- Contenido -->
            <ion-label>Contenido</ion-label> <br>
            <ion-textarea [(ngModel)]="contenido" name="contenido" placeholder="Ingrese el contenido completo" required></ion-textarea> <br>

            <!-- Imagen -->
            <ion-label>Imagen</ion-label>
            <input type="file" (change)="onFileSelected($event)" required> <br>

             <!-- Checkbox de aceptación -->
             <ion-item lines="none">
              <ion-checkbox [(ngModel)]="aceptarCondiciones" name="aceptarCondiciones"></ion-checkbox>
              <ion-label> Acepto los <a href="#">Términos y Condiciones</a></ion-label>
            </ion-item>

            <!-- Botón para publicar (deshabilitado si no acepta términos) -->
            <ion-button class="login-button" expand="block" type="submit" [disabled]="!aceptarCondiciones">Publicar</ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
