<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Publicar noticia</h3>

          <form (submit)="publicar(); $event.preventDefault();">
            <!-- Título -->
            <ion-item>
              <ion-label position="floating">Título</ion-label> <br>
              <ion-input type="text" placeholder="Ingrese el titulo de la noticia" [(ngModel)]="titulo" name="titulo" required></ion-input>
            </ion-item>

            <!-- Descripción -->
            <ion-item>
              <ion-label position="floating">Descripción</ion-label> <br>
              <ion-input type="text" placeholder="Ingrese una breve descripcion" [(ngModel)]="descripcion" name="descripcion" required></ion-input>
            </ion-item>

            <!-- Contenido -->
            <ion-item>
              <ion-label position="floating">Contenido</ion-label> <br>
              <ion-input type="text" placeholder="Ingrese todo el contenido de la noticia" [(ngModel)]="contenido" name="contenido" required></ion-input>
            </ion-item>

            <!-- Imagen -->
            <ion-item>
              <ion-label>Imagen</ion-label>
              <input type="file" (change)="onFileSelected($event)" required>
            </ion-item>

            <!-- Checkbox de aceptación -->
            <ion-item lines="none">
              <ion-checkbox [(ngModel)]="aceptarCondiciones" name="aceptarCondiciones"></ion-checkbox>
              <ion-label> Acepto los <a href="terminos">Términos y Condiciones</a></ion-label>
            </ion-item>

            <!-- Botón de publicar habilitado solo si se aceptan términos -->
            <ion-button class="login-button" expand="block" type="submit" [disabled]="!aceptarCondiciones">Publicar</ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
