:host {
  --background: linear-gradient(to bottom, #101E2A, #163045, #163045);
}

.grid-center{
height: 100%;
margin-top: 10px;
}

.custom-content {
  background-color: #0a1f35 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  height: 100%;
  text-align: start;
  background: linear-gradient(to bottom, #101E2A, #163045, #163045);
  padding: 40px;
}



ion-label {
  color: white;
  margin-bottom: 10px;
}

ion-input {
  background-color: #073A6A;
  color: white;
  border-radius: 5px;
}

.login-button {
  --background: linear-gradient(to right, #0D161F 57%, #1C3F60 100%);
  --border-radius: 10px;
  --color: white;
  --box-shadow: none;
  width: 100%;
  font-weight: bold;
}

.register-text a {
  color: #f1f3f5;
  font-weight: bold;
  text-decoration: none;
}

ion-content {
 // --overflow: hidden;
}
ion-input {
  --padding-end: 20px;  /* Ajusta el valor para crear el espaciado deseado */
}


/* hos-form.page.scss */

.alert-error {
  --background: #f8d7da; /* Color de fondo rojo claro */
  --color: #721c24; /* Texto color rojo oscuro */
  --border-color: #f5c6cb; /* Borde rojo claro */
}

.alert-success {
  --background: #d4edda; /* Fondo verde claro */
  --color: #155724; /* Texto verde oscuro */
  --border-color: #c3e6cb; /* Borde verde claro */
}
