<app-navbar></app-navbar>
<ion-content [fullscreen]="true">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Publicar noticia</h3>

          <form (submit)="publicar(); $event.preventDefault();">
            <ion-label>Título</ion-label>
            <ion-input type="text" [(ngModel)]="titulo" name="titulo" placeholder="Ingrese el título" required></ion-input> <br>

            <ion-label>Descripción</ion-label>
            <ion-input type="text" [(ngModel)]="descripcion" name="descripcion" placeholder="Breve descripción" required></ion-input> <br>

            <ion-label>Contenido</ion-label>
            <ion-input type="text" [(ngModel)]="contenido" name="contenido" placeholder="Ingrese el contenido" required></ion-input> <br>

            <ion-label>Imagen</ion-label>
            <input type="file" (change)="onFileSelected($event)" required> <br>

            <ion-button class="login-button" expand="block" type="submit">Publicar</ion-button>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
