<app-navbar></app-navbar>

<ion-content [fullscreen]="true" class="content">
  <div class="container">
    <h2 class="title">Sobre Nosotros</h2>

    <div class="divider"></div>

    <div class="card-container">
      <ion-card class="card">
        <ion-card-header class="card-header">
          <ion-icon name="ribbon-outline" class="icon"></ion-icon>
          <ion-card-title>Misión</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          Nuestra misión es proporcionar servicios de salud de calidad, con atención humanizada y tecnología avanzada, asegurando el bienestar de nuestra comunidad.
        </ion-card-content>
      </ion-card>

      <ion-card class="card">
        <ion-card-header class="card-header">
          <ion-icon name="eye-outline" class="icon"></ion-icon>
          <ion-card-title>Visión</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          Ser un referente en el sector salud, reconocido por nuestra excelencia en el servicio, innovación y compromiso con el bienestar de nuestros pacientes.
        </ion-card-content>
      </ion-card>

      <ion-card class="card">
        <ion-card-header class="card-header">
          <ion-icon name="people-outline" class="icon"></ion-icon>
          <ion-card-title>¿Quiénes Somos?</ion-card-title>
        </ion-card-header>
        <ion-card-content class="card-content">
          Somos un equipo de profesionales apasionados por la salud, comprometidos con la atención integral de nuestros pacientes y la mejora continua de nuestros servicios.
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
