ion-content {
  --overflow: auto;
  --background: linear-gradient(to bottom, #101E2A, #163045, #163045);
  height: 100%;
  padding: 20px; /* Mantén un poco de espacio alrededor */
}

.container {
  width: 100%;
  height: auto; /* Cambié a auto para que el contenedor se ajuste a la altura total del contenido */
  text-align: start;
  background: linear-gradient(to bottom, #101E2A, #163045, #163045);
  padding: 20px;
  overflow-y: auto; /* Habilita el scroll solo si el contenido es grande */
}

.card-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-height: none; /* Elimina el límite de altura para permitir el desplazamiento completo */
  overflow-y: auto; /* Habilita el desplazamiento solo si es necesario */
}

.card {
  width: 90%; /* Asegura que las tarjetas no ocupen todo el ancho */
  background: #1B2A41;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  color: #F1F1F1;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  max-height: none; /* Elimina la altura máxima para que el contenido de la tarjeta se ajuste */
}

.card-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  padding: 5px;
}

.card:hover {
  transform: scale(1.05);
}

.card:hover .card-content {
  max-height: 300px;
}

.card-header {
  display: flex;
  justify-content: center;
  background: #2A6F97;
  color: white;
  padding: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.icon {
  font-size: 24px;
  margin-right: 10px;
  color: #F1F1F1;
}

ion-card-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #F1F1F1;
}

ion-card-content {
  font-size: 1.1rem;
  color: #D1D1D1;
  line-height: 1.6;
  padding: 5px;
}
