<app-navbar></app-navbar>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">mapa</ion-title>
    </ion-toolbar>
  </ion-header>
<div >
  <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d122085.7454007368!2d-96.8049682578254!3d17.014861069837966!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1shospitales%20en%20oaxaca!5e0!3m2!1ses!2smx!4v1743168319345!5m2!1ses!2smx" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>

</ion-content>
