ion-content{
  --background: linear-gradient(to bottom, #101E2A, #163045, #163045);
}
h3{
  text-align: start;
  margin-top: 15px;
}
.tipo{
  text-align: start;
  color: yellow;
}
.ion-card{
  margin-top: 20px;
}
.star-rating {
  display: flex;
  gap: 5px;
  font-size: 24px;
  cursor: pointer;
}

.star-rating {
  display: flex;
  gap: 5px;
  font-size: 24px;
  cursor: pointer;
}

.star {
  color: #ccc; /* Color de estrella vacía */
  transition: color 0.3s;
}

.star.checked {
  color: gold; /* Color de estrella seleccionada */
}
ion-input{
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 600px;
  height: 10px;
}

.comentario-item {
  padding: 10px;
  margin: 8px 0;
  border-radius: 8px;
  font-size: 16px;
  color: white;
}
.whats{
  display: flex;
text-align: end;
}

ion-img{
  width: 50%;
  height: 50%;
  align-items: end;
}
.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.image-container {
  width: 100%;
  max-height: 300px;
  overflow: hidden;
  border-radius: 10px;
}

.hospital-img {
  width: 50%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 15px;
}

.hospital-title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  flex-grow: 1;
}

.btn-emergency {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}

.whatsapp-icon {
  width: 30px;
  height: 30px;
}
