<app-navbar></app-navbar>

<ion-content>
  <ion-card *ngIf="item.nombre_hospital || item.nombre_farmacia; else loading">
    <ion-card-header>
      <h1 class="hospital-title">{{ item.nombre_hospital || item.nombre_farmacia || 'Cargando...' }}</h1>
    </ion-card-header>
    <ion-card-content>
      <p><strong>Tipo:</strong> {{ item.tipo_hospital || item.tipo_farmacia }}</p>
      <p><strong>Descripción:</strong> {{ item.descripcion || item.descripcion_farmacia }}</p>
      <p><strong>Dirección:</strong> {{ item.direccion || item.direccion_farmacia }}</p>
      <p><strong>Teléfono:</strong> {{ item.telefono || item.telefono_farmacia }}</p>
      <p><strong>Misión:</strong> {{ item.vision || 'No disponible' }}</p>
      <p><strong>Visión:</strong> {{ item.mision || 'No disponible' }}</p>
      <p><strong>Email:</strong> {{ item.email_hospital || item.email_farmacia }}</p>

      <!-- Sección de Estrellas -->
      <div class="star-rating">
        <ion-icon
          *ngFor="let star of [0,1,2,3,4]; let i = index"
          (click)="setRating(i)"
          [icon]="i < rating ? starIcon : starOutlineIcon"
          color="warning"
          class="star-icon">
        </ion-icon>
      </div>

      <!-- Sección de comentarios -->
      <div class="comments-section">
        <h3>Comentarios</h3>
        <ion-list>
          <ion-item *ngFor="let comment of comentarios">
            <ion-label>
              <p><strong>{{ comment.usuario }}:</strong> {{ comment.texto }}</p>
            </ion-label>
          </ion-item>
        </ion-list>

        <!-- Input para agregar nuevo comentario -->
        <form [formGroup]="comentarioForm">
          <h3>{{ userFullName }}</h3>

          <ion-item>
            <ion-textarea
              formControlName="comentario"
              placeholder="Escribe tu comentario...">
            </ion-textarea>
            <ion-button color="warning" (click)="publicarComentario()">Publicar</ion-button>
          </ion-item>
        </form>
      </div>
    </ion-card-content>
  </ion-card>

  <ng-template #loading>
    <div class="loading-container">
      <p class="loading-text">Cargando información...</p>
    </div>
  </ng-template>
</ion-content>
