<app-navbar></app-navbar>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ publicacion.titulo }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <!-- Mostrar detalles de la publicación -->
    <ion-card *ngIf="publicacion">
      <ion-card-header>
        <ion-card-title class="titulo">{{ publicacion.titulo }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-img class="imagen" [src]="publicacion.img" alt="Imagen de la publicación"></ion-img>

        <div class="texto">
          <h3>Descripción</h3>
          <p>{{ publicacion.descripcion }}</p>

          <h3>Contenido</h3>
          <p>{{ publicacion.contenido }}</p>
        </div>
      </ion-card-content>
    </ion-card>

    <!-- Si no hay datos de publicación -->
    <ion-card *ngIf="!publicacion">
      <ion-card-header>
        <ion-card-title>No se encontraron detalles</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Lo sentimos, no pudimos obtener los detalles de esta publicación.</p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
