<app-navbar-forms></app-navbar-forms>
<ion-content [fullscreen]="true">
  <ion-grid class="grid-center">
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="8" size-md="6" size-lg="6">
        <div class="container">
          <h3>Registrarse</h3>
          <h6>Datos del hospital</h6>

          <form [formGroup]="hos_register3" (ngSubmit)="finalizeRegistration()">
            <!-- Correo electrónico -->
            <ion-label>Correo electrónico</ion-label>
            <ion-input formControlName="email_hospital" placeholder="Ingrese el correo" type="email" required></ion-input> <br>

            <!-- Misión -->
            <ion-label>Misión</ion-label>
            <ion-input formControlName="mision" placeholder="Ingrese la misión del hospital" type="text" required></ion-input> <br>

            <!-- Visión -->
            <ion-label>Visión</ion-label>
            <ion-input formControlName="vision" type="text" placeholder="Ingrese la visióon del hospital" required></ion-input> <br>

            <!-- Descripción -->
            <ion-label>Descripción del hospital</ion-label>
            <ion-input formControlName="descripcion" placeholder="Ingrese una breve descrición del hospital" type="text"></ion-input> <br>

            <!-- Imagen del hospital -->
            <ion-label>Imagen del hospital</ion-label>
            <input type="file" (change)="onImageSelected($event)" accept="image/*" /><br>

            <!-- Botón para finalizar el registro -->
            <ion-button expand="block" type="submit" [disabled]="hos_register3.invalid">Finalizar Registro</ion-button>
          </form>


        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
