<app-navbar></app-navbar>

<ion-content [fullscreen]="true">
  <h3>Publicaciones</h3>

  <ion-grid>
    <ion-row>
      <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let publicacion of publicaciones">
        <ion-card (click)="verDetalle(publicacion._id)">
          <ion-card-header>
            <ion-card-title>{{ publicacion.titulo }}</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-img [src]="publicacion.img" alt="Imagen de la publicación"></ion-img>
            <ion-label>{{ publicacion.descripcion }}</ion-label>

            <ion-button *ngIf="mostrarEliminar" color="danger" expand="block" (click)="eliminarPublicacion(publicacion._id, $event)">
              Eliminar
            </ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
