#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
.container,.card{
  width: 100%;
  height: 100%;
  text-align: start;
  background: linear-gradient(to bottom, #101E2A, #163045, #163045);
  padding: 20px;
}
ion-content,.card{
  --background: linear-gradient(to bottom, #101E2A, #163045, #163045);
}
.card-publicacion {
  display: flex;
  flex-direction: column;
  height: 100%; /* Asegura que todas las cards tengan la misma altura */
}

.ion-card-content {
  flex-grow: 1; /* Permite que el contenido se expanda sin cambiar el tamaño de la card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imagen-publicacion {
  width: 100%;
  height: 200px; /* Tamaño fijo para todas las imágenes */
  object-fit: cover; /* Evita que las imágenes se deformen */
}

.descripcion-publicacion {
  flex-grow: 1;
  max-height: 50px; /* Limita el tamaño de la descripción */
  overflow: hidden;
  text-overflow: ellipsis; /* Agrega "..." si el texto es muy largo */
  white-space: nowrap;
}


ion-card {
  margin-bottom: 15px; // Espaciado entre tarjetas
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
ion-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  text-align: center;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); // Sombra suave por defecto
}

ion-card:hover {
  transform: scale(1.05); // Agranda la tarjeta un 5%
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2); // Aumenta la sombra para resaltar
}
h6{
  color: white;
}
